* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
header {
  background-color: #0f8b8d;
  width: 100%;
  height: 145px;
  border-radius: 30px 30px 0px 0px;
  margin-bottom: 80px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-white {
  padding-top: 39px;
  padding-left: 138px;
  padding-bottom: 39px;
}

.menu-header a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 20px;
}

.menu-header {
  padding-top: 54px;
  padding-right: 138px;
}

.menu-header a:hover {
  color: rgb(206, 135, 21);
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}

.column-findus {
  display: flex;
  flex-direction: column;
  padding-left: 138px;
}

.column-findus p {
  color: #0f8b8d;
  font-size: 48px;
  padding-bottom: 10px;
}
.column-findus span {
  color: #143642;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.alamat {
  width: 474px;
  height: 196px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
}
.alamat h1 {
  font-size: 30px;
  color: #143642;
  padding-top: 20px;
  padding-left: 45px;
}

.alamat h2 {
  font-size: 20px;
  color: #143642;
  font-weight: normal;
  padding-top: 20px;
  padding-left: 45px;
}

.map-findus iframe {
  border-radius: 20px;
  margin-left: 112px;
  margin-top: 10px;
}

.footerWrapper {
  background-color: #143642;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 400px;
  border-radius: 20px;
  padding-top: 80px;
  padding-left: 138px;
  column-gap: 90px;
}

.footerLogo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 60px;
}

.footerLeft {
  display: flex;
  flex-direction: column;
}

.footerMailPhone {
  display: flex;
  flex-direction: row;
  width: 100px;
  padding-top: 10px;
  filter: brightness(1) invert(1);
}

.footerMenu {
  display: flex;
  flex-direction: row;
}

.footerProducts a {
  text-decoration: none;
  color: white;
  padding-bottom: 40px;
}

.footerStore a {
  text-decoration: none;
  color: white;
}

.footerContact a {
  text-decoration: none;
  color: white;
}

.footerProducts {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px 20px;
}

.footerProducts p {
  color: #ec9a29;
  padding-bottom: 20px;
}

.footerStore {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px 20px;
}

.footerStore p {
  padding-bottom: 20px;
  color: #ec9a29;
}

.footerContact {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 20px 20px;
}
.footerContact p {
  color: #ec9a29;
  padding-bottom: 20px;
}

.footerWrapper {
  margin-top: 50px;
}
.footerWrapper a:hover {
  color: aqua;
}
